# Logs
logs
*.log
npm-debug.log*

# Dependencies & Build Outputs
node_modules/
frontend/node_modules/
backend/node_modules/
dist/
frontend/dist/
backend/dist/
.angular/
frontend/.angular/

# Environment Secrets
.env
*.env
backend/.env

# Database
*.db
backend/prisma/*.db

# OS / IDE
.DS_Store
.vscode/
.idea/
